<!DOCTYPE html>
<html ng-app="loginModule">
    <head>
        <meta charset="utf-8" />
        <title>Login Page</title>
        
        <script src="~/jslib/Angular.min.js"></script>
        <script src="~/jslib/Angular.route.js"></script>
        <script src="~/jslib/jquery-3.5.1.min.js"></script>

        <script src="~/login/loginRouteProvider.js"></script>
        <script src="~/login/controllers/loginController.js"></script>
    </head>
    <body ng-controller="loginController">
        <h1>Login here</h1>
        <form enctype="multipart/form-data" method="post">
            <label>Username: </label>
            <input type="text" ng-model="username" value="" />
            <label>Password: </label>
            <input type="password" ng-model="password" value="" />
        </form>
        <button ng-click="loginClick()">Login</button>
    </body>
</html>